@media (max-width: 600px) {
   #eixosTematicos img[src="eixosTematicos.png"] {
    width: 200% !important;
    max-width: 320px;
    margin: 0 auto;
  }
   #eixosTematicos h2 {
    font-size: 22px !important;
    line-height: 26px !important;
    margin-bottom: 20px !important;
  }
   #eixosTematicos .mb-12 {
    margin-bottom: 30px !important;
  }
  #eixosTematicos .mb-24,
  #eixosTematicos .pt-10 {
    margin-bottom: 40px !important;
    padding-top: 0 !important;
  }
  .textoPublico {
    font-size: 16px !important;
    line-height: 18px !important;
    margin: 0 auto !important;
    text-align: center;
  }

  .colTextPublic {
    gap: 12px !important;
    justify-content: center !important;
    align-items: center !important;
   
  }
}