@media (max-width: 600px) {
  .footer-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    left: 0 !important;
    width: 100vw !important;
    min-height: 120px;
    height: auto;
    position: static !important;
    box-sizing: border-box;
    margin: 0 auto;
    gap: 0.5rem;
  }
  .footer-logo {

   display: block;
   margin-right: 0.5rem;
    transform: scale(0.8);
    
  }
  .footer-text {
    padding-left: 0 !important;
    text-align: right;
    font-size: 1rem;
    width: auto;
    box-sizing: border-box;
    margin: 0;
    transform: scale(0.8);
   
  }
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 2rem;
}

.footer-logo {
  width: 100px;
  height: 95px;
}

.footer-text {
  padding-left: 2.5rem;
}
